#################################################
# General Config
#################################################
default_config:
homeassistant:
  allowlist_external_dirs:
    - /tmp
  customize: !include_dir_merge_named customize/
  elevation: !secret elevation
  external_url: !secret external_url
  internal_url: !secret internal_url
  latitude: !secret latitude
  longitude: !secret longitude
  name: Annacar Home
  time_zone: !secret time_zone
  unit_system: !secret unit_system

#################################################
# Enable Services
#################################################
frontend:
  themes: !include_dir_merge_named themes

google:
  client_id: !secret google_id
  client_secret: !secret google_secret

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret gateway_ip
  ip_ban_enabled: true
  login_attempts_threshold: 5

influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: homeassistant
  password: !secret influxdb_password
  max_retries: 3
  default_measurement: state

logger:
  default: error
  logs:
    pychromecast.socket_client: fatal
    blueprints.cunderw.target_temperature_adjustment: info
mqtt:
  discovery: true
  discovery_prefix: homeassistant

python_script:

recorder:
  db_url: !secret db_url

stream:

tts:
  - platform: google_translate
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    base_url: !secret google_tts_url
    service_name: google_say

#################################################
# Include External Scripts
#################################################
aarlo: !include /config/aarlo/aarlo.yaml
alarm_control_panel: !include_dir_merge_list alarm_control_panels/
automation: !include_dir_merge_list automations/
binary_sensor: !include_dir_merge_list binary_sensors/
camera: !include_dir_merge_list cameras/
group: !include_dir_merge_named groups/
input_number: !include /config/inputs/numbers.yaml
input_select: !include /config/inputs/select.yaml
light: !include_dir_merge_list lights/
media_player: !include_dir_merge_list media_players/
notify: !include_dir_merge_list notifications/
rest_command: !include_dir_merge_named rest_commands/
sensor: !include_dir_merge_list sensors/
scene: !include_dir_merge_list scenes/
script: !include_dir_merge_named scripts/
shell_command: !include_dir_merge_named shell/
switch: !include_dir_merge_list switches/
template: !include_dir_merge_list templates/

#################################################
# Load Fronnt End Modules
#################################################
lovelace:
  mode: yaml
  resources:
    - type: module
      url: /local/community/battery-state-card/battery-state-card.js
    - type: module
      url: /local/community/button-card/button-card.js
    - type: module
      url: /local/community/lovelace-card-mod/card-mod.js
    - type: module
      url: /local/community/lovelace-auto-entities/auto-entities.js
    - type: module
      url: /local/community/lovelace-fold-entity-row/fold-entity-row.js
    - type: module
      url: /local/community/lovelace-hass-aarlo/hass-aarlo.js
    - type: module
      url: /local/community/lovelace-hui-element/hui-element.js
    - type: module
      url: /local/community/lovelace-layout-card/layout-card.js
    - type: module
      url: /local/community/lovelace-mushroom/mushroom.js
    - type: module
      url: /local/community/lovelace-slider-entity-row/slider-entity-row.js
    - type: module
      url: /local/community/mini-graph-card/mini-graph-card-bundle.js
    - type: module
      url: /local/community/mini-media-player/mini-media-player-bundle.js
    - type: module
      url: /local/community/numberbox-card/numberbox-card.js
    - type: module
      url: /local/community/rgb-light-card/card.js
    - type: module
      url: /local/community/select-list-card/select-list-card.js
    - type: module
      url: /local/community/slider-button-card/slider-button-card.js
